@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


.fixed-nav-bar {
    top: 0;
    max-width: 100vw;
    margin: auto;

    letter-spacing: 2px;
    font-size: 22px;
    left: 0;
    right: 0;
    min-height: 10vh;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #1c1c1c;
    -webkit-backdrop-filter: var(--background-filter);
    backdrop-filter: var(--background-filter);
    transition: 0.35s ease;
    border-radius: 5px;
    width: fill;
    margin-top: 15px;
    z-index: 100;
    position: absolute;
}

.fixed-nav-bar .icon:hover {
    transform: translateY(-55%) scale(1.03);
    font-weight: 800;
}

.fixed-nav-bar .icon {
    position: absolute;
    float: left;
    /* text-transform: uppercase; */
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    color: var(--text);
    font-weight: 600;
    margin-left: 5px;
    font-style: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    height: 0.5vh;
    width: 0.5vh;
    top: 18%;
}
